<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="DB_A444B6_blazinaj" connectionString="Data Source=sql7001.site4now.net;Initial Catalog=DB_A444B6_blazinaj;User Id=DB_A444B6_blazinaj_admin;Password=Redalert1!;MultipleActiveResultSets=true" />
  </connectionStrings>
</configuration>